<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-8">
  <div class="flex justify-center w-full">
    <!-- Avatar Circle -->
    <div class="flex-shrink-0 mr-5">
      <div
        class="cursor-pointer font-bold bg-gray-300 rounded-full flex items-center justify-center w-12 h-12"
      >
        R
      </div>
    </div>
    <!-- Forms -->
    <div class="flex-1">
      <!-- textarea -->
      <textarea
      (keyup.enter)="sendTweet()"
        [(ngModel)]="tweetMessage"
        (input)="changeTweet()"
        [maxlength]="tweetMaxLength"
        class="mb-2 bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 resize-none border border-transparent rounded-lg py-2 px-4 block w-full appearance-none leading-normal font-light placeholder-gray-700"
        rows="3"
        placeholder="What's happening ..."
      ></textarea>
      <!-- divider live -->
      <div class="w-auto border rounded-lg"></div>
      <!-- interactive -->
      <div class="flex justify-end items-baseline">
        <!-- count chars -->
        <div class="mr-5 font-thin text-gray-500">
          <p>{{tweetRemaining}}</p>
        </div>
        <!-- button -->
        <div (click)="sendTweet()" class="mt-5 ">
          <button type="button" class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-xl bg-blue-500 hover:bg-blue-600 font-medium text-white shadow text-center">Tweet</button>
        </div>
      </div>
    </div>
  </div>
</div>
